<!doctype html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>good4y</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/common.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/js/common.js"></script>

    {% block head %} {% endblock %}

    <script>
        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }
    </script>

</head>
<body>
<div class="wrapper">
    <header class="header">
        <h1 class="logo">
            <a href="/">
                <img src="../static/images/logo.png" alt="">
            </a>
        </h1>

        <button type="button" data-tooltip="{{ userId }}" class="logout-btn" id="openLogoutBtn">
            <i class="far fa-user-circle"></i>
        </button>
    </header>
    {% block content %} {% endblock %}
</div>

<div class="modal logout-modal" id="logoutModal">
    <div class="modal-background" id="modalBg"></div>
    <div class="modal-content">
        <div class="box">
            <div class="logout-message">
                오늘도 <b>good4y</b> 되셨나요?
            </div>
            <div class="btns-group">
                <button type="button" class="button is-danger" id="closeLogoutBtn">아직이요</button>
                <button type="button" class="button is-primary" id="logoutBtn">로그아웃</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>