{% extends 'bar.html' %}
{% block style %}
      <style>
        .box{
            width: 400px ;
            margin: 0px auto 0 auto;
        }
        .button.is-primary{
            /*color: #4dfff3;*/
            background-color: #4dfff3;
        }
        .image{
            height: 150px;
            width: 300px;
           margin: 100px auto 0 auto;
        }
      </style>
    {% endblock %}
{% block script %}
    <script>


        function signin(){
            // window.location.href="{{ url_for('signin') }}";
            window.location.href="/signin";
        }
        function click_login() {
            let email = $('#email').val();
            let password = $('#password').val();

             $.ajax({
                type: 'POST',
                url: '/api/login',
                data: {'email':email,'password':password},
                success: function (response) {
                    if (response['msg'] == 'success') {
                        // access_token = "Bearer " + response['access_token'];
                        // access_token.encode('CP949')
                        // $.cookie("access_token_cookie", access_token, {path: '/'});
                        $.removeCookie('access_token_cookie');
                        $.cookie("access_token_cookie", response['access_token']);
                        window.location.href='/board/1'
                        // go_board(access_token);
                    } else if (response['msg'] == 'fail') {
                        alert('비밀번호가 다릅니다.');
                    } else {
                        alert('존재하지 않은 이메일입니다.');
                    }
                }
            });



        }

    </script>
{% endblock %}
{% block body %}
<body>
<form class="box">

  <div class="field">
    <label class="label" >이메일</label>
    <div class="control">
      <input class="input" id="email" type="text" placeholder="">
    </div>
  </div>

  <div class="field">
    <label class="label">비밀번호</label>
    <div class="control">
      <input class="input" id="password" type="password" placeholder="">
    </div>
  </div>

  <button class="button is-primary" type="button" onclick="click_login()" >로그인</button>
  <button class="button is-primary" type="button" onclick="signin()">회원가입</button>

</form>
</body>
{% endblock %}



