
<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="refresh" CONTENT="15">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>스케쥴러</title>
    <style>
        .box{
            width: 400px ;
            margin: 0px auto 0 auto;
        }
        .button.is-primary{
            /*color: #4dfff3;*/
            background-color: #4dfff3;
        }
        .image{
            height: 150px;
            width: 300px;
           margin: 200px auto 0 auto;
        }
    </style>



    <script>
        function signin(){
            window.location.href="{{ url_for('signin') }}";
        }

        function login() {
        //     let email = $('#email').val();
        //     let password = $('#password').val();
        //
        //      $.ajax({
        //         type: 'POST',
        //         url: '/api/user',
        //         data: {},
        //         success: function (response) {
        //             alert(response['msg']);
        //             window.location.reload();
        //         }
        //     });
        }

    </script>
</head>
<body>
<!--제목 부분-->
<form class="form-img">



</form>
<figure class="image">
  <img src="../static/image/titleimg.png">
</figure>
<form class="box">

  <div class="field">
    <label class="label" >이메일</label>
    <div class="control">
      <input class="input" id="email" type="text" placeholder="">
    </div>
  </div>

  <div class="field">
    <label class="label">비밀번호</label>
    <div class="control">
      <input class="input" id="password" type="password" placeholder="">
    </div>
  </div>

  <button class="button is-primary" type="button" onclick="login()" >로그인</button>
  <button class="button is-primary" type="button" onclick="signin()">회원가입</button>

</form>



</body>
</html>