<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>스케쥴러</title>
    <style>
        .box {
            width: 500px;
            margin: 0px auto 0 auto;
        }

        .button.is-primary {
            /*color: #4dfff3;*/
            background-color: #4dfff3;
        }

        .image {
            height: 150px;
            width: 300px;
            margin: 200px auto 0 auto;
        }
        .check_id{
            color: red;
        }
    </style>

    <script>
        function button_click(){
            let name = $('#name').val();
            let email = $('#email').val();
            let password = $('#password').val();
            let password_check = $('#password-check').val();

            var user_info = {"name": name, "email": email, "password": password};
            if(password == password_check) {
                $.ajax({
                    type: 'post',
                    url: '/api/user',
                    data: {"name":name,"email":email,"password":password},
                    // data: user_info,
                    success: function (response) {
                        alert(response['msg'])
                        if (response['msg'] == 'register'){
                            //url_for 함수명으로 감!!!
                            window.location.href = "{{ url_for('home') }}";

                        }else {

                            window.location.href = "{{ url_for('signin') }}";
                        }

                    }
                });
            }else {
                alert("비밀번호가 다릅니다.")
                window.location.reload();
            }
        }
    </script>
</head>
<body>
<!--제목 부분-->
<form class="form-img">


</form>
<figure class="image">
    <img src="../static/image/titleimg.png">
</figure>
<form class="box">
    <div class="field">
        <label class="label">이름</label>
        <div class="control">
            <input class="input" id="name" type="text" placeholder="">
        </div>

    </div>
    <div class="field">
        <label class="label">이메일</label>
        <div class="control">
            <input class="input" id="email" type="email" placeholder="">
        </div>

    </div>
    <div class="field">
        <label class="label">비밀번호</label>
        <div class="control">
            <input class="input" id="password" type="password" placeholder="********">
        </div>
        <p class="check_id">영문과 숫자 조합의 8~20자리의 비밀번호를 설정해주세요!</p>
    </div>
    <div class="field">
        <label class="label">비밀번호 확인</label>
        <div class="control">
            <input class="input" id="password-check" type="password" placeholder="********">
        </div>
    </div>

<!--    <div class="input-group field">-->
<!--        <input type="input" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"-->
<!--               aria-describedby="basic-addon2">-->
<!--        <div class="input-group-append">-->
<!--            <button class="btn btn-outline-secondary" type="button">회원가입</button>-->
<!--    </div>-->

    <button class="button is-primary" type="button" onclick="button_click()">회원가입</button>
</form>


</body>
</html>
