{% extends 'bar.html' %}
{% block style %}
    <style>
        .box {
            width: 500px;
            margin: 0px auto 0 auto;
        }

        .button.is-primary {
            /*color: #4dfff3;*/
            background-color: #4dfff3;
        }

        .image {
            height: 150px;
            width: 300px;
            margin: 100px auto 0 auto;
        }

        .check_id {
            color: red;
        }

        .check-email1 {
            color: red;
        }

        .check-email2 {
            color: blue;
        }
         .check-email3 {
            color: red;
        }
        .email-form {
            width: 400px;
            /*    460*/
        }

        .check-form {
            width: 60px;
            height: 40px;
            margin-left: -5px
        }
    </style>
{% endblock %}
{% block script %}
    <script>
        let check_email = false;
        $(document).ready(function () {
            $('#check-email1').hide();
            $('#check-email2').hide();
            $('#check-email3').hide();
        });

        function button_click() {
            let name = $('#name').val();
            let email = $('#email-input').val();
            let password = $('#password').val();
            let password_check = $('#password-check').val();

            if (password == password_check && check_email == true) {
                $.ajax({
                    type: 'post',
                    url: '/api/user',
                    data: {"name": name, "email": email, "password": password},
                    // data: user_info,
                    success: function (response) {

                        if (response['msg'] == 'register') {
                            //url_for 함수명으로 감!!!
                            alert('회원가입 성공.')
                            window.location.href = "{{ url_for('home') }}";

                        } else {
                            alert('회원가입 실패.')
                            window.location.href = "{{ url_for('signin') }}";
                        }

                    }
                });
            }else if(check_email == false){
                alert("이메일 중복체크 해주세요.")
            }
            else {
                alert("비밀번호가 다릅니다.")
            }
        }

        function email_check() {

            let email = $('#email-input').val();
            if(email.split("@").length == 1 || email.split(".").length ==1) {
                $('#check-email2').hide();
                $('#check-email1').hide();
                $('#check-email3').show();
                return;
            }
            url = '/api/email?email=' + email
            $.ajax({
                type: 'get',
                url: url,
                data: {},
                // data: user_info,
                success: function (response) {

                    if (response['msg'] == 'noexist') {
                        $('#check-email1').hide();
                        $('#check-email2').show();
                        $('#check-email3').hide();
                        check_email = true
                    } else {
                        $('#check-email1').show();
                        $('#check-email2').hide();
                        $('#check-email3').hide();
                    }
                }
            });
        }
    </script>
{% endblock %}
{% block body %}
<body>
<form class="box">
    <div class="field">
        <label class="label">이름</label>
        <div class="control">
            <input class="input" id="name" type="text" placeholder="">

        </div>


    </div>
    <div class="field">
        <label class="label">이메일</label>
        <div class="control">
            <input class="input email-form" id="email-input" type="email" placeholder="">
            <button class="button is-primary check-form "  type="button" onclick="email_check()">중복체크
            </button>
            <p id="check-email1" class="check-email1">이미 존재하는 이메일 입니다.</p>
            <p id="check-email2" class="check-email2">사용가능한 이메일 입니다.</p>
            <p id="check-email3" class="check-email3">이메일 형식으로 입력해주세요.</p>
        </div>

    </div>
    <div class="field">
        <label class="label">비밀번호</label>
        <div class="control">
            <input class="input" id="password" type="password" placeholder="********">
        </div>
        <p class="check_id">영문과 숫자 조합의 8~20자리의 비밀번호를 설정해주세요!</p>
    </div>
    <div class="field">
        <label class="label">비밀번호 확인</label>
        <div class="control">
            <input class="input" id="password-check" type="password" placeholder="********">
        </div>
    </div>

    <!--    <div class="input-group field">-->
    <!--        <input type="input" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"-->
    <!--               aria-describedby="basic-addon2">-->
    <!--        <div class="input-group-append">-->
    <!--            <button class="btn btn-outline-secondary" type="button">회원가입</button>-->
    <!--    </div>-->

    <button class="button is-primary" type="button" onclick="button_click()">회원가입</button>
</form>
</body>
{% endblock %}